<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>admin dashboard </title>
    <link rel="stylesheet" href="turfregtable.css">
</head>
<body>
    <div class="navbar">
        <div class="box">
          <a href="admindashboard.html"> <h3>TURF</h3></a> 
        </div>
        <div class="box">
           <a href="userlist.html"> <h3>USER LIST</h3></a>
        </div>
     </div>

     <div class="content">
        <div class="box1">
           <a href="turfregtable.html"> <h3>Register</h3></a>
        </div>
        <div class="box2">
           <a href="viewmanager.html"> <h3>View</h3></a>
        </div>
        <div class="box3">
           <a href="">  <h3>Payment</h3></a>
        </div>
        <div class="box4">
           <a href="managerfeedback.html"><h3>Feedback</h3></a> 
        </div>
    </div>        


    
</body>
</html>