<!DOCTYPE html>
<html lang="en">
<head>
   
    <title>truf register table </title>
    <link rel="stylesheet" href="turfregtable.css">
</head>
<body >
    <button class="btn1" ><a href="add.html">Add</a></button>
    <center>
       
    <table>
        <tr>
            <tr>
                <th>TURF ID</th>
                <th>TURF NAME</th>
                <th>ADDRESS</th>
                <th>TIME</th>
                <th>PH NO.</th>
                <th>OWNER PH NO.</th>
                <th>TURF LOCATION</th>
                <th>TURF MAIL</th>
                <th>EDIT </th>
        
            </tr>
            <tr>
                <td>001</td>
                <td>waka waka</td>
                <td>karanthoor</td>
                <td>4pm - 1 am</td>
                <td>9999888855</td>
                <td>8889997771</td>
                <td>karathoor</td>
                <td>wakawaka@gmail.com</td>
                <td><a href=""></a><button type="button">EDIT</button><button type="button">DELETE</button></a></td>
            </tr>
    
        </tr>
        
    </table>

    


</center>
</body>
</html>