<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="stylesheet" href="viewmanager.css">
   
</head>
<body>
    
<table>
    <tr>
        <th>ID</th>
        <th>OWNER</th>
        <th>TURF </th>
        <th>EDIT</th>
    </tr>
    <tr>
        <td>001</td>
        <td>FASAL</td>
        <td>26 TURF</td>
        <td><a href=""><button type="button">EDIT</button> <button type="button">DELETE</button></a></td>
    </tr>
    <tr>
        <td>002</td>
        <td>AJAS</td>
        <td>PADA NILAM TURF</td>
        <td><a href=""><button type="button">EDIT</button> <button type="button">DELETE</button></a></td>
    </tr>
   
    <tr>
        <td>003</td>
        <td>JOEL</td>
        <td>HEAD GOAT TURF</td>
        <td><a href=""><button type="button">EDIT</button> <button type="button">DELETE</button></a></td>
    </tr>
</table>

</body>
</html>