*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 20px 0;
}
th,td {
    background-color: #fdfffe;
    border: 2px solid #050505;
    padding: 8px;
    text-align: left;
}
th {
    background-color: #0be236f7;
    
    
}

button{
    background-color: #28fd14;
}
#but2:hover{
    background-color: rgb(244, 10, 10);
}
#but1:hover{
    background-color: blue;
}
.navbar{
    width: 100%;
    padding: 25px;
    background-color: #050505;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}