{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>manager Dashboard</title>
  <link rel="stylesheet" href="{% static 'css/managerdashbord.css' %}">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css" rel="stylesheet">
</head>
<body>
  <nav class="navbar">
    <div class="logo"><i class="fas fa-futbol"></i>
      Turf Manager</div>
    <ul>
      <li><a href="#">Home</a></li>
      <li><a href="#">Profile</a></li>
      <li><a href="#">Logout</a></li>
    </ul>
  </nav>

  <div class="dashboard">
    <main>
      <h2>Welcome, <span class="username">{{val}}</span></h2>
      <p>Manage your turf and bookings </p>
      <div class="actions">
      <!-- <div class="card">
          <i class="fas fa-plus-circle"></i>
          <h3>Add Turf Details</h3>
          <p>Upload your turf details, photos, and available time slots.</p>
          <a href="manageraddturfdetails.html">Add Turf</a>
        </div> -->
        <div class="card">
          <i class="fas fa-edit"></i>
          <h3>Manage Products</h3>
          <p>Add and manage sports equipment or products for rent or sale.</p>
          <a href="/adminapp/manageproduct/">Manage Products</a>
        </div>
        <div class="card">
          <i class="fas fa-calendar-alt"></i>
          <h3>View Bookings</h3>
          <p>View and manage all turf bookings in one place.</p>
          <a href="/adminapp/managerviewbooking/">View Bookings</a>
        </div>
        <div class="card">
          <i class="fas fa-wallet"></i>
          <h3>View Renting</h3>
          <p>Keep track of all your earnings and renting history.</p>
          <a href="/adminapp/managerrent/">View Renting</a>
        </div>
      </div>
    </main>
  </div>
</body>
</html>
